<section class="features">
  <h3>Kutting edge features.</h3>
  <ul>
    <li>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000" viewBox="0 0 24 24"><path d="M20 14.7V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.3"/><path d="m18 2 4 4-10 10H8v-4z"/></svg>
      </div>
      <h4>Managing links</h4>
      <p>Create, protect and delete your links and monitor them with detailed statistics.</p>
    </li>
    <li>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000" viewBox="0 0 24 24"><path d="M16 3h5v5M4 20 20.2 3.8M21 16v5h-5m-1-6 5.1 5.1M4 4l5 5"/></svg>
      </div>
      <h4>Custom domain</h4>
      <p>Use custom domains for your links. Add or remove them for free.</p>
    </li>
    <li>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M13 2 3 14h9l-1 8 10-12h-9z"/></svg>
      </div>
      <h4>API</h4>
      <p>Use the provided API to create, delete, and get URLs from anywhere.</p>
    </li>
    <li>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000" viewBox="0 0 24 24"><path d="M20.8 4.6a5.5 5.5 0 0 0-7.7 0l-1.1 1-1-1a5.5 5.5 0 0 0-7.8 7.8l1 1 7.8 7.8 7.8-7.7 1-1.1a5.5 5.5 0 0 0 0-7.8z"/></svg>
      </div>
      <h4>Free & open source</h4>
      <p>Completely open source and free. You can host it on your own server.</p>
    </li>
  </ul>
</section>