<footer>
  <p>
    Powered by <a href="https://github.com/thedevs-network/kutt" title="The Devs" target="_blank" rel="noopener noreferrer">Kutt</a> <span>|</span> 
    <a href="/terms" title="Terms of Service">Terms of Service</a>
    {{#if report_email}} 
     <span>|</span>
     <a href="/report" title="Report abuse">Report Abuse</a>
    {{/if}}
    {{#if contact_email}}
      <span>|</span> 
      <button class="link" hx-get="/get-support-email" hx-swap="outerHTML">
        <span>{{> icons/spinner}}</span>
        Contact us
      </button>
    {{/if}}
  </p>
</footer>