<header>
  <div class="logo-wrapper">
    <a class="logo nav" href="/" title="Kutt">
      <img src="/images/logo.svg" alt="kutt" width="18" height="24" />
      {{!-- TODO: configurable site name --}}
      Kutt
    </a>
    <ul class="logo-links">
      <li>
        <a class="nav" href="https://github.com/thedevs-network/kutt" target="_blank" rel="noopener noreferrer" title="GitHub">
          GitHub
        </a>
      </li>
      <li>
        <a class="nav" href="/report" title="Report abuse">
          Report
        </a>
      </li>
    </ul>
  </div>
  <nav>
    <ul>
      {{#unless user}}
        <li>
          <a class="button primary" href="/login" title="Log in or sign up">
            Log in / Sign up
          </a>
        </li>
      {{/unless}}
      {{#if user}}
        <li>
          <a class="button primary" href="/settings" title="Settings">
            Settings
          </a>
        </li>
        <li>
          <a class="nav" href="/logout" title="Log out">
            Log out
          </a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>