<header>
  <div class="logo-wrapper">
    <a class="logo nav" href="/" title="Homepage">
      <img src="/images/logo.png" alt="kutt" width="18" height="24" />
      {{site_name}}
    </a>
    <ul class="logo-links">
      <li>
        <a class="nav" href="https://github.com/thedevs-network/kutt" target="_blank" rel="noopener noreferrer" title="GitHub">
          GitHub
        </a>
      </li>
      {{#if report_email}}
        <li>
          <a class="nav" href="/report" title="Report abuse">
            Report
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
  <nav>
    <ul>
      {{#unless user}}
        <li>
          <a class="button primary" href="/login" title="Log in or sign up">
            Log in / Sign up
          </a>
        </li>
      {{/unless}}
      {{#if user}}
        <li>
          <a class="button primary" href="/settings" title="Settings">
            <span>{{> icons/cog}}</span>
            Settings
          </a>
        </li>
        {{#if isAdmin}}
          <li>
            <a class="button secondary" href="/admin" title="Admin">
              <span>{{> icons/shield}}</span>
              Admin
            </a>
          </li>
        {{/if}}
        <li>
          <a class="nav" href="/logout" title="Log out">
            Log out
          </a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>