<section class="introduction">
  <div class="text-wrapper">
    <h2>Manage links, set custom <b>domains</b> and view <b>stats</b>.</h2>
    <a class="button primary">Log in / Sign up</a>
  </div>
  <img src="/images/callout.png" alt="callout image" />
</section>