.env
.vscode/
logs
client/.next/
node_modules/
client/config.js
client/old.config.js
server/config.js
server/old.config.js
production-server
.idea/
dump.rdb
docs/api/*.js
docs/api/static


162 bytes
# Local .terraform directories
**/.terraform/*
**/.terragrunt-cache/*
**/.terraform.lock.hcl
# .tfstate files
*.tfstate
*.tfstate.*