{{> header}}
<div id="notfound" class="section-container">
  <h2>
    {{t 'backbone.404'}}
  </h2>
  <a class="back-to-home" href="/">
    â† {{t 'backbone.backToHomepage'}}
  </a>
</div>
{{> footer}}