{{> header}}
<section id="banned" class="section-container">
  <h2>
    Link has been banned and removed because of 
    <span class="bold underline">malware or scam</span>.
  </h2>
  <h4>
    If you noticed a malware/scam link shortened by {{default_domain}}, 
    <a href="/report" title="Send report">
      send us a report
    </a>.
  </h4>
</section>
{{> footer}}