{{> header}}
<section id="banned" class="section-container">
  <h2>
    {{t "settings.bannedDesc"}}
  </h2>
  <h4>
    {{t "settings.noticeMalwareLinks" default_domain=default_domain}}
    <a href="/report" title="{{t "header.noticeMalwareLinksSendReportAria"}}">
      {{t "header.noticeMalwareLinksSendReport"}}
    </a>.
  </h4>
</section>
{{> footer}}