<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="icon" sizes="196x196" href="/images/favicon-196x196.png" />
  <link rel="icon" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="icon" sizes="16x16" href="/images/favicon-16x16.png" />
  <link rel="apple-touch-icon" href="/images/favicon-196x196.png" />
  <link rel="mask-icon" href="/images/icon.svg" color="blue" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="theme-color" content="#f3f3f3" />
  <meta property="fb:app_id" content="123456789" />
  <meta name="htmx-config" content='{"withCredentials":true}'>
  {{!-- TODO: meta tags --}}
  {{!-- <meta
    property="og:url"
    content={`https://${publicRuntimeConfig.DEFAULT_DOMAIN}`}
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={publicRuntimeConfig.SITE_NAME} />
  <meta
    property="og:image"
    content={`https://${publicRuntimeConfig.DEFAULT_DOMAIN}/images/card.png`}
  />
  <meta
    property="og:description"
    content="Free & Open Source Modern URL Shortener"
  />
  <meta
    name="twitter:url"
    content={`https://${publicRuntimeConfig.DEFAULT_DOMAIN}`}
  />
  <meta name="twitter:title" content={publicRuntimeConfig.SITE_NAME} />
  <meta
    name="twitter:description"
    content="Free & Open Source Modern URL Shortener"
  />
  <meta
    name="twitter:image"
    content={`https://${publicRuntimeConfig.DEFAULT_DOMAIN}/images/card.png`}
  /> --}}
  {{!-- TODO: configurable title --}}
  <meta name="description" content="Kutt is a free and open source URL shortener with custom domains and stats." />
  {{!-- TODO: configurable title --}}
  <title>Kutt | {{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
  {{{block "stylesheets"}}}
</head>
<body>
  <div class="main-wrapper">
    {{{body}}}
  </div>

  {{{block "scripts"}}}
  <script src="/libs/htmx.min.js"></script>
  <script src="/libs/qrcode.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>