{{> header}}
<section id="protected" class="section-container">
  <h2>
    {{t "settings.protectedLink"}}
  </h2>
  <p>
    {{t "settings.enterPasswordToProceed"}}
  </p>
  {{> protected/form}}
</section>
{{> footer}}