{{> header}}
<section id="protected" class="section-container">
  <h2>
    Protected link.
  </h2>
  <p>
    Enter the password to be redirected to the link.
  </p>
  {{> protected/form}}
</section>
{{> footer}}