{{> header}}
<section id="report" class="section-container">
  <h2>
    Report abuse.
  </h2>
  <p>
    Report abuses, malware and phishing links to the email address below
    or use the form. We will review as soon as we can.
  </p>
  {{> report/email}}
  {{> report/form}}
</section>
{{> footer}}