{{> header}}
<section id="report" class="section-container">
  <h2>
    {{t "settings.reportAbuse"}}
  </h2>
  <p>
    {{#if mail_enabled}}
      {{t "settings.reportAbuseDescIfEmailEnabled"}}
    {{else}}
      {{t "settings.reportAbuseDescIfEmailDisabled"}}
    {{/if}}
  </p>
  {{> report/email}}
  {{#if mail_enabled}}
    {{> report/form}}
  {{/if}}
</section>
{{> footer}}