{{> header}}
<section id="reset-password" class="section-container">
  <h2>
    {{t "settings.resetPassword"}}
  </h2>
  <p>
    {{t "settings.resetPasswordDesc"}}
  </p>
  {{> reset_password/request_form}}
</section>
{{> footer}}