{{> header}}
<section id="reset-password-token" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/settings" hx-trigger="load delay:2s" hx-target="body" hx-push-url="/settings">
      Welcome back. Change your password from the settings page. Redirecting...
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      Password token is invalid. Please try again.
    </h2>
    <a href="/reset-password" title="Reset password">Reset password →</a>
  {{/if}}
</section>
{{> footer}}