{{> header}}
<section id="reset-password" class="section-container">
  <h2>
    Reset password.
  </h2>
  <p>
    If you forgot you password you can use the form below to get a reset
    password link.
  </p>
  {{> reset_password/request_form}}
</section>
{{> footer}}