{{> header}}
<section 
  id="new-password"
  class="section-container {{#unless token_verified}}verify-page{{/unless}}"
>
  {{#if token_verified}}
    <h2>
      Reset password.
    </h2>
    <p>Set your new password.</p>
    {{> reset_password/new_password_form}}
  {{else}}
    <h2>
      {{> icons/x}}
      Password token is invalid. Please try again.
    </h2>
    <a href="/reset-password" title="Reset password">Reset password →</a>
  {{/if}}
</section>
{{> footer}}