{{#unless users}}
  {{#ifEquals users.length 0}}
    <tr class="no-data">
      <td>
        {{t "table.admin.noUsers"}}
      </td>
    </tr>
  {{else}}
    <tr class="loading-placeholder">
      <td>
        {{> icons/spinner}}
        {{t "table.admin.loadingUsers"}}
      </td>
    </tr>
  {{/ifEquals}}
{{/unless}}