<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    The domain <b>"{{address}}"</b> is banned.
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">Close</button>
  </div>
</div>

