<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    {{{t "table.admin.deleteUserSucessMsg" email=email}}}
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{t "backbone.close"}}</button>
  </div>
</div>

