<div class="content">
  <h2>Unban user?</h2>
  <p>
    Are you sure you want to unban the user &quot;<b>{{email}}</b>&quot;?
  </p>
  <div class="ban-checklist">
    <label class="checkbox">
      <input type="checkbox" name="links" checked>
      <span>Also unban user's links</span>
    </label>
    <label class="checkbox">
      <input type="checkbox" name="domains" checked>
      <span>Also unban user's domains</span>
    </label>
  </div>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">Cancel</button>
    <button 
      type="button"
      class="success confirm" 
      hx-post="/api/v2/users/admin/unban/{{id}}"
      hx-target=".content"
      hx-swap="outerHTML"
      hx-include=".ban-checklist"
    >
      <span class="stop">
        {{> icons/stop}}
      </span>
      Unban
    </button>
    {{> icons/spinner}}
  </div>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>
