:root {
    /* light-theme colors*/
    --color-menu-link: inherit;
    --color-default: hsl(0, 0%, 100%);
    --default-btn-text-color: white;
    --default-navbtn-text-color: inherit;
    --color-blue-btn-shadow: hsla(207, 90%, 61%, 0.5);
    --color-red-btn-shadow: hsla(0, 58%, 42%, 0.5);
    --color-purple-btn-shadow: hsla(258, 58%, 42%, 0.5);
    --color-gray-btn-shadow: hsla(0, 0%, 63%, 0.5);
    --color-btn-disabled: hsl(0, 0%, 96%);
    --color-nav-btn-shadow: rgba(100, 100, 100, 0.1);
    --default-border-color: hsl(0, 0%, 96%);
    --color-input-bg: hsl(0, 0%, 100%);
    --color-input-text: hsl(0, 0%, 27%);
    --color-input-box-sd: hsla(200, 15%, 70%, 0.2);
    --color-input-focus-box-sd: hsla(200, 15%, 70%, 0.4);
    --color-input-placeholder: hsl(0, 0%, 53%);
    --color-extensions-btn: hsl(0, 0%, 93%);
    --color-extensions-btn-border: hsl(0, 0%, 67%);
    --color-modal-bg: hsl(0, 0%, 100%);
    --color-modal-blur: rgba(50, 50, 50, 0.8);
    --color-bg: hsl(206, 12%, 95%);
    --color-check-icon: hsl(144, 50%, 60%);
    --color-divider: hsl(200, 20%, 92%);
    --color-extensions-bg: hsl(230, 15%, 20%);
    --color-features-bg: hsl(230, 15%, 92%);
    --color-icon: hsl(200, 35%, 45%);
    --color-icon-shadow: hsla(200, 15%, 60%, 0.12);
    --color-copy-icon: hsl(144, 40%, 57%);
    --color-copy-icon-bg: hsl(144, 100%, 96%);
    --color-pie-icon: hsl(260, 100%, 69%);
    --color-pie-icon-bg: hsl(260, 100%, 96%);
    --color-edit-icon: hsl(46, 90%, 50%);
    --color-edit-icon-bg: hsl(46, 100%, 94%);
    --color-qrcode-icon: hsl(0, 0%, 35%);
    --color-qrcode-icon-bg: hsl(0, 0%, 94%);
    --color-stop-icon: hsl(10, 100%, 40%);
    --color-stop-icon-bg: hsl(10, 100%, 96%);
    --color-trash-icon: hsl(0, 100%, 69%);
    --color-trash-icon-bg: hsl(0, 100%, 96%);
    --color-spinner: hsl(200, 15%, 70%);
    --color-table-bg: hsl(0, 0%, 100%);
    --color-table-border: hsl(200, 14%, 90%);
    --color-table-head-bg: hsl(200, 12%, 95%);
    --color-table-head-border: hsl(200, 14%, 94%);
    --color-table-row-hover: hsl(200, 14%, 98%);
    --color-table-row-banned: hsl(0, 100%, 98%);
    --color-table-row-banned-hover: hsl(0, 100%, 96%);
    --color-table-shadow: hsla(200, 20%, 70%, 0.3);
    --color-td-after-bg: linear-gradient(to left, white, rgba(255, 255, 255, 0.001));
    --color-table-link: hsl(207, 90%, 54%);
    --color-text: hsl(200, 35%, 25%);
    --color-login-page-verifying-email-highlight: #512da8;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark-theme colors*/
        --color-menu-link: hsl(207, 90%, 54%);
        --color-default: hsl(0, 1%, 25%);
        --default-border-color: hsl(234, 13%, 13%);
        --default-btn-text-color: hsl(0, 0%, 90%);
        --default-navbtn-text-color: hsl(0, 0%, 90%);
        --color-blue-btn-shadow: hsla(208, 82%, 7%, 0.5);
        --color-red-btn-shadow: hsla(0, 58%, 32%, 0.5);
        --color-purple-btn-shadow: hsla(0, 0%, 0%, 0.5);
        --color-gray-btn-shadow: hsla(0, 0%, 33%, 0.5);
        --color-btn-disabled: hsl(234, 13%, 18%);
        --color-nav-btn-shadow: hsla(234, 13%, 5%, .2);
        --color-input-bg: hsl(234, 13%, 15%);
        --color-input-text: hsl(210, 17%, 82%);
        --color-input-box-sd: hsla(234, 13%, 15%, .01);
        --color-input-focus-box-sd: hsla(234, 13%, 15%, .02);
        --color-input-placeholder: hsl(0, 0%, 73%);
        --color-extensions-btn: hsl(234, 13%, 15%);
        --color-extensions-btn-border: hsl(234, 13%, 30%);
        --color-modal-bg: hsl(0, 0%, 30%);
        --color-modal-blur: rgba(33, 33, 33, 0.2);
        --color-bg: hsl(240, 9%, 9%);
        --color-divider: hsl(215, 15%, 15%);
        --color-footer-divider: hsl(180, 1%, 55%);
        --color-extensions-bg: #000;
        --color-features-bg: hsl(230, 9%, 15%);
        --color-icon-shadow: hsla(0, 0%, 0%, 0.2);
        --color-copy-icon: #f5f5f5;
        --color-copy-icon-bg: hsl(144, 80%, 35%);
        --color-pie-icon: #f5f5f5;
        --color-pie-icon-bg: hsl(261, 80%, 35%);
        --color-edit-icon: #f5f5f5;
        --color-edit-icon-bg: hsl(46, 80%, 35%);
        --color-qrcode-icon: #fff;
        --color-qrcode-icon-bg: hsl(0, 0%, 0%);
        --color-stop-icon: #f5f5f5;
        --color-stop-icon-bg: hsl(10, 80%, 38%);
        --color-trash-icon: #f5f5f5;
        --color-trash-icon-bg: hsl(0, 80%, 35%);
        --color-table-bg: hsl(240, 9%, 23%);
        --color-table-border: hsl(240, 11%, 27%);
        --color-table-head-bg: hsl(240, 9%, 18%);
        --color-table-head-border: hsl(240, 11%, 27%);
        --color-table-row-hover: hsl(240, 9%, 22%);
        --color-table-shadow: hsla(0, 0%, 0%, 0.3);
        --color-td-after-bg: linear-gradient(to left, hsl(240, 9%, 23%), hsla(240, 9%, 23%, 0.001));
        --color-table-link: hsl(207, 90%, 54%);
        --color-text: #c9d1d9; /* text color from github's darkmode */
        --color-login-page-verifying-email-highlight: hsl(258, 58%, 62%);
    }
}


body {
    background-color: hsl(206, 12%, 95%); /*for the browsers that doesn't support css variables*/
    background-color: var(--color-bg);
    color: hsl(200, 35%, 25%);
    color: var(--color-text);
}

footer { /* TODO: need to add this in Footer.tsx */
    background-color: white !important;
    background-color: var(--color-default) !important;
}