name: docker-build-latest

env:
  dockerhub_repository: "fernandonogueira/kutt"
  dockerhub_tag: "develop"

on:
  push:

jobs:
  dockerhub-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: false
          tags: ${{ env.dockerhub_repository }}:${{ env.dockerhub_tag }}
