<footer>
  <p>
    Link Shortener for PayTo, IPFS, and more 🔗
    <span class="footer-separator">|</span>
    <a href="/terms" title="Terms of Service">Terms of Service</a>
    {{#if report_email}}
      <span class="footer-separator">|</span>
      <a href="/report" title="Report abuse">Report Abuse</a>
    {{/if}}
    {{#if git_url}}
      <span class="footer-separator">|</span>
      <a href="{{git_url}}" title="Git" target="_blank" rel="noopener">Git</a>
    {{/if}}
    {{#if contact_email}}
      <span class="footer-separator">|</span>
      <button class="link" hx-get="/get-support-email" hx-swap="outerHTML">
        <span>{{> icons/spinner}}</span>
        Contact us
      </button>
    {{/if}}
  </p>
</footer>
<style>
  .footer-separator {
    margin: 0 0.5em;
  }
</style>
