<header>
  <div class="logo-wrapper">
    <a class="logo nav" href="/" title="Homepage">
      <img src="/images/logo.png" alt="432.sk" style="max-width: 48px" />
    </a>
    <ul class="logo-links">
      <li>
        <a class="nav" href="/">
          Shorten
        </a>
      </li>
      <li>
        <a class="nav" href="https://payto.money" title="Generate PayTo" target="_blank" rel="noopener">
          Generate PayTo
        </a>
      </li>
      {{#if git_url}}
        <li>
          <a class="nav" href="{{git_url}}" target="_blank" rel="noopener" title="Git">
            Git
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
  <nav>
    <ul>
      {{#unless user}}
        <li>
          <a class="button primary" href="/login" title="Log in or sign up">
            Log in / Sign up
          </a>
        </li>
      {{/unless}}
      {{#if user}}
        <li>
          <a class="button primary" href="/settings" title="Settings">
            <span>{{> icons/cog}}</span>
            Settings
          </a>
        </li>
        {{#if isAdmin}}
          <li>
            <a class="button secondary" href="/admin" title="Admin">
              <span>{{> icons/shield}}</span>
              Admin
            </a>
          </li>
        {{/if}}
        <li>
          <a class="nav" href="/logout" title="Log out">
            Log out
          </a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>
